<h2>Medications</h2>

<h2><a href="/medications/new">Add New Medications</a></h2><br>

<ul>
    <% @medications.each do |m| %>
        <li><label> Med name: </label><%= m.name %></li>
        <li><label> Med Desc: </label><%= m.description %></li>
        <li><label> Type of Disease: </label><%= m.disease_states_name %></li>
        <li><label> Med Brand: </label><%= m.brand %></li>
        <li><label> Dosage: </label><%= m.dose %></li>
        <li><label> Quantity: </label><%= m.quantity %></li><br>
    <% end %><br>


</ul>