
    <ul>
       
            <li><label> Med name: </label><%= @medication.name %></li>
            <li><label> Med Desc: </label><%= @medication.description %></li>
            <li><label> Type of Disease: </label><%= @medication.disease_states_name %></li>
            <li><label> Med Brand: </label><%= @medication.brand %></li>
            
        <br>


    </ul>
    <% if current_user == @medication.owner%>
    <form action="/medications/<%= @medication.id %>"method="POST">
        <input type="hidden" name="_method" value="delete">
        <input class= "btn btn-danger" type="submit" value="Delete"> 
    </form>

    <a class= "btn btn-success" href="/medications/<%=@medication.id%>/edit">Edit</a>
<% end %>